# Workflow to deploy and test Files API to the CI server
name: CI Script - FileAPI
run-name: ${{ format('{0} - {1}', github.workflow, github.event_name == 'push' && github.event.head_commit.message || 'Manual Run') }}
on:
  workflow_dispatch:
  push:
    paths:
    - '.github/workflows/CI_FileAPI.yml'
    - '.github/actions/**'
    - 'src/**'
    - 'requirements.txt'

env:
  DEPLOY_HOST: ${{ vars.OGD_STAGING_HOST }}
  DEPLOY_DIR:                              ${{ vars.API_BASE_PATH }}/${{ github.event.repository.name }}/${{ github.ref_name }}
  DEPLOY_URL:  ${{ vars.OGD_STAGING_HOST }}/${{ vars.API_BASE_URL }}/${{ github.event.repository.name }}/${{ github.ref_name }}/app.wsgi

jobs:
  ci_deploy:
    name: CI Deploy of Website API
    runs-on: ubuntu-22.04
    concurrency:
      group: ${{ github.repository }}-${{ github.ref }}-${{ github.workflow }}
      cancel-in-progress: true

    steps:

    # 1. Local checkout & config
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-tags: true
        fetch-depth: 0
    - name: Get current version tag
      id: version-tag
      run: |
        echo "Version:"
        echo "VERSION_TAG=$(git describe --tags --abbrev=0)"
        echo "VERSION_TAG=$(git describe --tags --abbrev=0)" >> $GITHUB_OUTPUT
    - name: Set up Config File
      uses: ./.github/actions/FileAPI_config
      with:
          api_base: ${{ env.DEPLOY_DIR }}
          api_version: ${{ steps.version-tag.outputs.VERSION_TAG }}-${{ github.ref_name }}-${{ github.sha }}

    # 2. Build 

    # 3. Remote config & deploy
    - name: Connect to VPN
      uses: opengamedata/actions-openconnect-vpn@v1.1
      with:
        username: ${{ secrets.VPN_USER }}
        password: ${{ secrets.VPN_PASS }}
        endpoint: "soe.vpn.wisc.edu"

    - name: Deploy to Server
      uses: opengamedata/actions-deploy-project@v1.1
      with:
        local_path: ./src
        remote_path: ${{ env.DEPLOY_DIR }}
        remote_host: ${{ env.DEPLOY_HOST }}
        remote_user: ${{ secrets.DEPLOY_USER }}
        remote_key:  ${{ secrets.DEPLOY_KEY }}

    # 4. Cleanup & complete
    - name: Restart httpd via ssh
      run: ssh -o StrictHostKeyChecking=no -T -i ./key.txt ${{ secrets.DEPLOY_USER }}@${{ env.DEPLOY_HOST }} "sudo systemctl restart apache2"
    - name: Announce deploy
      run: echo "Deployed to ${{ env.DEPLOY_URL }}"

  testbed_hello:
    name: HelloAPI Testbed
    needs: ci_deploy
    uses: ./.github/workflows/TEST_HelloAPI.yml

  testbed_fileapi:
    name: FileAPI Testbed
    needs: ci_deploy
    uses: ./.github/workflows/TEST_FileAPI.yml
