# Workflow to deploy and test Files API to the production server
name: Release Script - FileAPI
run-name: ${{ format('{0} - {1}', github.workflow, github.event_name == 'release' && github.ref || 'Manual Run') }}
on:
  #create:
  #  tags:
  #    - '*'
  workflow_dispatch:
  release:
    types: released

env:
  DEPLOY_HOST: ${{ vars.OGD_SERVICES_HOST }}
  DEPLOY_DIR:                               ${{ vars.API_BASE_PATH }}/files/
  DEPLOY_URL:  ${{ vars.OGD_SERVICES_HOST }}/${{ vars.API_BASE_URL }}/files/app.wsgi

jobs:
  production_deploy:
    name: Release Deploy of Website API
    runs-on: ubuntu-22.04
    concurrency:
      group: ${{ github.repository }}-${{ github.ref }}-${{ github.workflow }}
      cancel-in-progress: true

    steps:

    # 1. Local checkout & config
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Set up Config File
      uses: ./.github/actions/FileAPI_config
      with:
          remote_app_path: ${{ env.DEPLOY_DIR }}
          api_version:     ${{ github.event.release.tag_name }}

    # 2. Build 

    # 3. Remote config & deploy
    - name: Connect to VPN
      uses: opengamedata/actions-openconnect-vpn@v1.1
      with:
        username: ${{ secrets.VPN_USER }}
        password: ${{ secrets.VPN_PASS }}
        endpoint: "soe.vpn.wisc.edu"

    - name: Deploy to Server
      uses: opengamedata/actions-deploy-project@v1.1
      with:
        local_path: ./src
        remote_path: ${{ env.DEPLOY_DIR }}
        remote_host: ${{ env.DEPLOY_HOST }}
        remote_user: ${{ secrets.DEPLOY_USER }}
        remote_key:  ${{ secrets.DEPLOY_KEY }}

    # 4. Cleanup & complete
    - name: Restart httpd via ssh
      run: ssh -o StrictHostKeyChecking=no -T -i ./key.txt ${{ secrets.DEPLOY_USER }}@${{ env.DEPLOY_HOST }} "sudo systemctl restart apache2"

    - name: Announce deploy
      run: echo "Deployed API to ${{ env.DEPLOY_URL }}"

  testbed_hello_remote:
    name: HelloAPI Remote Testbed
    needs: production_deploy
    uses: ./.github/workflows/TEST_HelloAPI_remote.yml

  testbed_fileapi:
    name: FileAPI Testbed
    needs: production_deploy
    uses: ./.github/workflows/TEST_FileAPI.yml
